.button_next {
  background-color: #781d48;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 39px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text_header {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: rgba(255, 136, 135, 1);
}
